// variables initially copied in from portfolio
// made using colourmind.io
$light-shade: #f6efee;
$light-accent: #5dbfdb;
$brand-colour: hsl(204, 71%, 53%); // bulma.io is-info colour
$dark-shade: #1c1f33;
$dark-accent: #7a5c73;